{% extends "base.html" %}

{% block title %}

Login Now
{% endblock %}

{% block content %}

<form method="post">
    <h3>Login Here</h3>
    {% csrf_token %} 
   {{ form.as_p }}

    <button type="submit">Submit</button>
    <!-- <input type="button" value=""> -->
    <!-- <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div> -->
    <a href="{% url 'users:register' %}" >SignUp here!</a>
</form>


{% endblock %}